In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('starbucks_store_worldwide.csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'starbucks_store_worldwide.csv'

In [3]:
df1 = pd.DataFrame({'fruit':['apple','banana','orange','apple','banana'],
                    'color':['red','yellow','yellow','cyan','cyan'],
                    'price':[8.5,6.8,5.6,7.8,6.4]})
df1

    fruit   color  price
0   apple     red    8.5
1  banana  yellow    6.8
2  orange  yellow    5.6
3   apple    cyan    7.8
4  banana    cyan    6.4

# 分组
groupby:(by=None,as_index=True)
by:根据什么进行分组，用于确定groupby的组

as_index:对于聚合输出,返回以组便签为索引的对象，仅对DataFrame

In [16]:
g = df1.groupby(by='fruit')
print(g['price'].mean())

fruit
apple     8.15
banana    6.60
orange    5.60
Name: price, dtype: float64

In [9]:
for i in g:
    print(i)

('apple',    fruit color  price
0  apple   red    8.5
3  apple  cyan    7.8)
('banana',     fruit   color  price
1  banana  yellow    6.8
4  banana    cyan    6.4)
('orange',     fruit   color  price
2  orange  yellow    5.6)

In [10]:
for name,group in g:
    print(name)   # 输出组名
    print('-'*100)
    print(group) #  数据块   是dataframe类型
    print(type(group))

apple
----------------------------------------------------------------------------------------------------
   fruit color  price
0  apple   red    8.5
3  apple  cyan    7.8
<class 'pandas.core.frame.DataFrame'>
banana
----------------------------------------------------------------------------------------------------
    fruit   color  price
1  banana  yellow    6.8
4  banana    cyan    6.4
<class 'pandas.core.frame.DataFrame'>
orange
----------------------------------------------------------------------------------------------------
    fruit   color  price
2  orange  yellow    5.6
<class 'pandas.core.frame.DataFrame'>

In [11]:
# 选取任意数据块
dict(list(df1.groupby(by='fruit')))['apple']
type(dict(list(df1.groupby(by='fruit')))['apple'])

pandas.core.frame.DataFrame

# 聚合

In [70]:
# 根据水果来求价格平均值 price如果是一个price那就是serice 两个就是一个dataframe 因为两个默认多列
g1 = df1.groupby(['fruit','color'])[['price']].mean()
g1

               price
fruit  color
apple  cyan      7.8
       red       8.5
banana cyan      6.4
       yellow    6.8
orange yellow    5.6

In [71]:
type(g1)

pandas.core.frame.DataFrame

In [17]:
# 语法糖  前两种写法一样
print(df1['price'].groupby(df1['fruit']).mean())
print(df1.groupby(['fruit'])['price'].mean())
g2 = df1[['price']].groupby(by=[df1['fruit'],df1['color']]).mean()
g2

fruit
apple     8.15
banana    6.60
orange    5.60
Name: price, dtype: float64
fruit
apple     8.15
banana    6.60
orange    5.60
Name: price, dtype: float64

               price
fruit  color
apple  cyan      7.8
       red       8.5
banana cyan      6.4
       yellow    6.8
orange yellow    5.6

In [73]:
type(g2)

pandas.core.frame.DataFrame

In [58]:
#as_index  
df1.groupby('fruit',as_index=False)['price'].mean()

    fruit  price
0   apple   8.15
1  banana   6.60
2  orange   5.60

In [60]:
# 计算每种水果的差值
# 自定义聚合函数
def diff(arr):
    return arr.max()-arr.min()
# agg aggregate
df1.groupby('fruit')['price'].agg(diff)

fruit
apple     0.7
banana    0.4
orange    0.0
Name: price, dtype: float64

# 补充（了解）

In [81]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Sam', 'Make', 'Tony', 'Jim', 'Nana'])
people

             a         b         c         d         e
Sam  -0.191179 -1.811405 -0.411498  1.596168 -2.486576
Make -0.214270 -0.306895  1.572187  0.500322 -1.678211
Tony  0.359404  0.060987  0.453006  2.212107  1.015884
Jim  -0.465574  0.877107  1.054630 -0.431504  0.146144
Nana  1.334719  1.904231 -0.320958  0.070170 -0.550669

In [ ]:
# 通过字典或者series可以进行分组

In [89]:
m = {'a': 'red', 'b': 'red', 'c': 'blue','d': 'blue', 'e': 'red', 'f' : 'orange'}

In [90]:
people.groupby(m,axis=1).sum()

          blue       red
Sam   1.184670 -4.489160
Make  2.072509 -2.199377
Tony  2.665113  1.436274
Jim   0.623126  0.557678
Nana -0.250787  2.688280

In [91]:
s1 = pd.Series(m)
s1

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [92]:
people.groupby(s1,axis=1).count()

      blue  red
Sam      2    3
Make     2    3
Tony     2    3
Jim      2    3
Nana     2    3

In [ ]:
# 通过函数进行分组

In [93]:
people

             a         b         c         d         e
Sam  -0.191179 -1.811405 -0.411498  1.596168 -2.486576
Make -0.214270 -0.306895  1.572187  0.500322 -1.678211
Tony  0.359404  0.060987  0.453006  2.212107  1.015884
Jim  -0.465574  0.877107  1.054630 -0.431504  0.146144
Nana  1.334719  1.904231 -0.320958  0.070170 -0.550669

In [94]:
people.groupby(len).sum()

          a         b         c         d         e
3 -0.656753 -0.934298  0.643132  1.164664 -2.340431
4  1.479852  1.658322  1.704235  2.782600 -1.212997