# DateFrame

## 1. DateFrame介绍
###     表格型的数据结构

##   2. DateFrame构建

#### 字典类：

数组、列表或元组构成的字典构造dataframe

Series构成的字典构造dataframe

字典构成的字典构造dataframe

#### 列表类:

2D ndarray 构造dataframe

字典构成的列表构造dataframe

Series构成的列表构造dataframe

In [21]:
import numpy as np
import pandas as pd

In [22]:
# 数组、列表或元组构成的字典构造dataframe
#构造一个字典
data = {'a':[1,2,3,4],
        'b':(5,6,7,8),
       'c':np.arange(9,13)}
#构造dataframe
frame = pd.DataFrame(data)
frame

   a  b   c
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [23]:
#index属性查看行索引
frame.index

RangeIndex(start=0, stop=4, step=1)

In [24]:
#columns属性查看列索引
frame.columns

Index(['a', 'b', 'c'], dtype='object')

In [25]:
#values属性查看值
frame.values

array([[ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11],
       [ 4,  8, 12]], dtype=int64)

In [26]:
#指定index
frame = pd.DataFrame(data,index=['A','B','C','D'])
frame

   a  b   c
A  1  5   9
B  2  6  10
C  3  7  11
D  4  8  12

In [28]:
#指定列索引
frame = pd.DataFrame(data,index=['A','B','C','D'],columns=['a','b','c','d'])
frame

   a  b   c    d
A  1  5   9  NaN
B  2  6  10  NaN
C  3  7  11  NaN
D  4  8  12  NaN

In [31]:
#2.Series构成的字典构造dataframe
pd1 = pd.DataFrame({'a':pd.Series(np.arange(3)),
                   'b':pd.Series(np.arange(3,5))})
pd1

   a    b
0  0  3.0
1  1  4.0
2  2  NaN

In [32]:
#3.字典构成的字典构造dataframe
#字典嵌套
data1 = {
    'a':{'apple':3.6,'banana':5.6},
    'b':{'apple':3,'banana':5},
    'c':{'apple':3.2}
}
pd2 = pd.DataFrame(data1)
pd2

          a  b    c
apple   3.6  3  3.2
banana  5.6  5  NaN

In [ ]:
# 2.1 2D ndarray 构造dataframe

In [34]:
#构造二维数组对象
arr1 = np.arange(12).reshape(4,3)

frame1 = pd.DataFrame(arr1)
frame1

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [ ]:
#2.2字典构成的列表构造dataframe

In [35]:
l1 = [{'apple':3.6,'banana':5.6},{'apple':3,'banana':5},{'apple':3.2}]
pd3 = pd.DataFrame(l1)
pd3

   apple  banana
0    3.6     5.6
1    3.0     5.0
2    3.2     NaN

In [36]:
#2.3 Series构成的列表构造dataframe

In [37]:
l2 = [pd.Series(np.random.rand(3)),pd.Series(np.random.rand(2))]
pd4 = pd.DataFrame(l2)
pd4

          0         1         2
0  0.927476  0.996824  0.101684
1  0.688401  0.841530       NaN

## 3.DataFrame的基本用法
3.1 .T转置

3.2 通过列索引获取列数据（Series类型）

3.3 增加列数据

3.4 删除列

In [50]:
#dataframe
pd5 = pd.DataFrame(np.arange(9).reshape(3,3),index=['a','c','b'],columns=['A','B','C'])
pd5

   A  B  C
a  0  1  2
c  3  4  5
b  6  7  8

In [51]:
#和numpy一样 进行转置   行与列进行转置
pd5.T

   a  c  b
A  0  3  6
B  1  4  7
C  2  5  8

In [53]:
pd5['A']
print(type(pd5['A']))

<class 'pandas.core.series.Series'>

In [55]:
pd5['D'] = [1,2,3]
pd5

   A  B  C  D
a  0  1  2  1
c  3  4  5  2
b  6  7  8  3

In [56]:
del(pd5['D'])
pd5

   A  B  C
a  0  1  2
c  3  4  5
b  6  7  8