In [19]:
import time
time.time()

1553849580.598539

# 1.日期和时间数据类型及工具

In [20]:
from datetime import datetime

In [24]:
now = datetime.now()

In [25]:
now

datetime.datetime(2019, 3, 29, 16, 58, 0, 670604)

In [27]:
now.year,now.day

(2019, 29)

In [28]:
d = datetime(2011,1,7)-datetime(2008,6,24,8,15)
d

datetime.timedelta(926, 56700)

In [29]:
d.days

926

In [30]:
d.seconds

56700

In [31]:
from  datetime import timedelta

In [32]:
start = datetime(2011,1,7)

In [34]:
start+timedelta(12)*2

datetime.datetime(2011, 1, 31, 0, 0)

## 字符串和datetime的相互转换

In [36]:
stamp = datetime(2011,1,3)

In [37]:
str(stamp)

'2011-01-03 00:00:00'

In [48]:
stamp.strftime('%Y-%m-%d')

'11-01-03'

In [49]:
v  = '2011-01-02'

In [50]:
datetime.strptime(v,'%Y-%m-%d')

datetime.datetime(2011, 1, 2, 0, 0)

In [51]:
d = ['7/6/2011','2/6/2011']

In [53]:
[datetime.strptime(x,'%m/%d/%Y') for x in d]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 2, 6, 0, 0)]

In [54]:
from dateutil.parser import parse

In [55]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [57]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [60]:
import pandas as pd

In [61]:
d = ['2011-07-06 12:00:00','2012-08-09 00:00:00']

In [62]:
pd.to_datetime(d)

DatetimeIndex(['2011-07-06 12:00:00', '2012-08-09 00:00:00'], dtype='datetime64[ns]', freq=None)

In [63]:
idx = pd.to_datetime(d+[None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2012-08-09 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [64]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

# 2.时间序列基础

In [71]:
import numpy as np
import pandas as pd
from datetime import datetime

In [72]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
datetime(2011, 1, 7), datetime(2011, 1, 8),
datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [73]:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.798991
2011-01-05    0.196614
2011-01-07   -0.200008
2011-01-08   -0.629049
2011-01-10   -1.593667
2011-01-12   -0.808394
dtype: float64

In [74]:
ts.index
# pandas用numpy的datetime64数据类型以纳秒形式存储时间戳

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [76]:
ts[::2]

2011-01-02    0.798991
2011-01-07   -0.200008
2011-01-10   -1.593667
dtype: float64

In [75]:
ts+ts[::2]   # 每隔2个取一个

2011-01-02    1.597982
2011-01-05         NaN
2011-01-07   -0.400015
2011-01-08         NaN
2011-01-10   -3.187335
2011-01-12         NaN
dtype: float64

In [77]:
ts.index.dtype

dtype('<M8[ns]')

In [78]:
s = ts.index[0]
s

Timestamp('2011-01-02 00:00:00')

## 索引 选取

In [79]:
stamp = ts.index[2]
ts[stamp]

-0.20000767009520146

In [80]:
ts['1/10/2011']

-1.5936674593494784

In [81]:
ts['20110110']

-1.5936674593494784

In [83]:
ts1 = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))
ts1

2000-01-01   -0.520014
2000-01-02    0.773647
2000-01-03    0.835847
2000-01-04   -1.293165
2000-01-05    1.352625
2000-01-06    0.380777
2000-01-07   -0.986006
2000-01-08    0.579101
2000-01-09    0.435369
2000-01-10   -0.658833
2000-01-11    1.752580
2000-01-12    0.238779
2000-01-13   -2.018777
2000-01-14    1.790300
2000-01-15    0.760050
2000-01-16   -0.350592
2000-01-17    0.309585
2000-01-18    0.911585
2000-01-19   -0.126610
2000-01-20    0.756469
2000-01-21   -0.182704
2000-01-22   -0.377963
2000-01-23    0.206181
2000-01-24   -1.371465
2000-01-25    0.280122
2000-01-26   -1.192021
2000-01-27   -0.194298
2000-01-28   -0.616447
2000-01-29    0.695558
2000-01-30    0.070934
                ...
2002-08-28   -0.095526
2002-08-29    0.665643
2002-08-30   -0.995688
2002-08-31    0.753313
2002-09-01   -2.017717
2002-09-02    1.231126
2002-09-03   -0.165711
2002-09-04   -0.500616
2002-09-05    0.394393
2002-09-06    0.741359
2002-09-07   -1.842776
2002-09-08    0.598201
2002-09-09   -0.298876
2002-09-10   -1.110630
2002-09-11   -1.172312
2002-09-12    0.595443
2002-09-13    0.510448
2002-09-14    0.640832
2002-09-15    0.127102
2002-09-16    1.001135
2002-09-17   -1.268048
2002-09-18   -0.483713
2002-09-19    0.762780
2002-09-20    0.059496
2002-09-21    1.481692
2002-09-22    0.152538
2002-09-23    0.489826
2002-09-24   -1.192130
2002-09-25    0.132092
2002-09-26   -0.805012
Freq: D, Length: 1000, dtype: float64

In [84]:
ts1['2001']

2001-01-01   -1.603892
2001-01-02   -2.217461
2001-01-03   -1.123797
2001-01-04   -0.216432
2001-01-05    0.078367
2001-01-06   -0.897350
2001-01-07    2.302406
2001-01-08    0.176770
2001-01-09   -0.295105
2001-01-10   -1.947410
2001-01-11    0.341937
2001-01-12    1.019365
2001-01-13    0.512808
2001-01-14    1.489419
2001-01-15   -0.625210
2001-01-16   -0.191730
2001-01-17   -1.225426
2001-01-18    2.654761
2001-01-19   -1.253614
2001-01-20    0.518012
2001-01-21    1.169852
2001-01-22   -0.285891
2001-01-23   -1.500473
2001-01-24   -1.999329
2001-01-25   -1.703155
2001-01-26   -0.138448
2001-01-27    1.416715
2001-01-28    1.977583
2001-01-29    0.618963
2001-01-30    1.007768
                ...
2001-12-02   -0.628146
2001-12-03   -0.677050
2001-12-04   -0.255657
2001-12-05    1.511702
2001-12-06    0.320217
2001-12-07    1.443050
2001-12-08   -0.674317
2001-12-09   -1.416192
2001-12-10   -0.997088
2001-12-11    0.723600
2001-12-12    0.484364
2001-12-13    0.588291
2001-12-14    0.404283
2001-12-15    0.115390
2001-12-16   -1.072091
2001-12-17    1.993869
2001-12-18    0.663094
2001-12-19    0.572890
2001-12-20    0.676556
2001-12-21   -0.257530
2001-12-22   -0.649291
2001-12-23    1.716425
2001-12-24    0.268046
2001-12-25    0.932498
2001-12-26    0.893652
2001-12-27   -0.244962
2001-12-28    0.071061
2001-12-29    1.653619
2001-12-30   -0.107086
2001-12-31    2.102105
Freq: D, Length: 365, dtype: float64

In [85]:
ts1['2001-05']

2001-05-01   -0.121287
2001-05-02    1.525895
2001-05-03    0.889870
2001-05-04    0.889520
2001-05-05   -0.130214
2001-05-06   -0.103642
2001-05-07    0.008912
2001-05-08   -0.483165
2001-05-09   -0.572695
2001-05-10   -0.088317
2001-05-11   -0.720111
2001-05-12   -0.195244
2001-05-13   -0.142451
2001-05-14    1.863820
2001-05-15    0.390357
2001-05-16    0.921561
2001-05-17    1.232658
2001-05-18   -0.169262
2001-05-19   -0.694950
2001-05-20    0.213353
2001-05-21    1.785021
2001-05-22   -0.146509
2001-05-23    1.285128
2001-05-24    1.512173
2001-05-25   -0.146719
2001-05-26   -1.799922
2001-05-27    0.798917
2001-05-28   -1.310479
2001-05-29    1.702596
2001-05-30    1.847254
2001-05-31    0.639867
Freq: D, dtype: float64

In [86]:
ts

2011-01-02    0.798991
2011-01-05    0.196614
2011-01-07   -0.200008
2011-01-08   -0.629049
2011-01-10   -1.593667
2011-01-12   -0.808394
dtype: float64

In [87]:
ts[datetime(2011,1,7):]

2011-01-07   -0.200008
2011-01-08   -0.629049
2011-01-10   -1.593667
2011-01-12   -0.808394
dtype: float64

In [94]:
ts['1/6/2011':'1/11/2011'] = 1

In [95]:
ts

2011-01-02    0.798991
2011-01-05    0.196614
2011-01-07    1.000000
2011-01-08    1.000000
2011-01-10    1.000000
2011-01-12   -0.808394
dtype: float64

In [97]:
ts.truncate(after='1/9/2011')

2011-01-02    0.798991
2011-01-05    0.196614
2011-01-07    1.000000
2011-01-08    1.000000
dtype: float64

In [96]:
ts.truncate(after='1/9/2011')

2011-01-02    0.798991
2011-01-05    0.196614
2011-01-07    1.000000
2011-01-08    1.000000
dtype: float64

## 带有重复索引的时间序列

In [99]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000','1/2/2000', '1/3/2000'])

In [100]:
ts2 = pd.Series(np.arange(5), index=dates)
ts2

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [101]:
ts2.index.is_unique

False

In [102]:
ts2['1/3/2000']

4

In [103]:
ts2['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [105]:
ts2.groupby(level=0).mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [106]:
ts2.groupby(level=0).count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# 3.日期的范围、频率以及移动

## 生成日期范围

In [ ]:
# pd.date_range(start=None, end=None, periods=None, freq='D')

In [134]:
index = pd.date_range('2012-04-01','2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [135]:
pd.date_range('2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [136]:
pd.date_range(end='2012-04-01',periods=20)

DatetimeIndex(['2012-03-13', '2012-03-14', '2012-03-15', '2012-03-16',
               '2012-03-17', '2012-03-18', '2012-03-19', '2012-03-20',
               '2012-03-21', '2012-03-22', '2012-03-23', '2012-03-24',
               '2012-03-25', '2012-03-26', '2012-03-27', '2012-03-28',
               '2012-03-29', '2012-03-30', '2012-03-31', '2012-04-01'],
              dtype='datetime64[ns]', freq='D')

In [140]:
pd.date_range('2012-01-01','2012-12-31',freq='M')

DatetimeIndex(['2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30',
               '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31',
               '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31'],
              dtype='datetime64[ns]', freq='M')

## 频率和日期偏移量
pandas中的频率是由一个基础频率（base frequency）和一个乘数组成的。基础频率通常以一个字符串别名表示，比如"M"表示每月，"H"表示每小时。对于每个基础频率，都有一个被称为日期偏移量（date offset）的对象与之对应。例如，按小时计算的频率可以用Hour类表示：

In [141]:
from pandas.tseries.offsets import Hour, Minute

In [142]:
hour = Hour()
hour

In [143]:
h = Hour(4)
h

In [145]:
pd.date_range('2000-01-01','2000-01-02',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [146]:
pd.date_range('2000-01-01','2000-01-02',freq='2h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 02:30:00',
               '2000-01-01 05:00:00', '2000-01-01 07:30:00',
               '2000-01-01 10:00:00', '2000-01-01 12:30:00',
               '2000-01-01 15:00:00', '2000-01-01 17:30:00',
               '2000-01-01 20:00:00', '2000-01-01 22:30:00'],
              dtype='datetime64[ns]', freq='150T')

## 移动数据
移动（shifting）指的是沿着时间轴将数据前移或后移。Series和DataFrame都有一个shift方法用于执行单纯的前移或后移操作，保持索引不变：

In [149]:
ts = pd.Series(np.random.randn(4),
                index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.265049
2000-02-29    0.812746
2000-03-31    0.973299
2000-04-30   -1.009740
Freq: M, dtype: float64

In [151]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.265049
2000-04-30    0.812746
Freq: M, dtype: float64

In [152]:
ts.shift(-2)

2000-01-31    0.973299
2000-02-29   -1.009740
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [153]:
ts.shift(2,freq='M')

2000-03-31    0.265049
2000-04-30    0.812746
2000-05-31    0.973299
2000-06-30   -1.009740
Freq: M, dtype: float64

# 4 .重采样
重采样：指的是将时间序列从一个频率转化为另一个频率进行处理的过程，将高频率数据转化为低频率数据为降采样，低频率转化为高频率为升采样

In [154]:
t = pd.DataFrame(np.random.uniform(10,50,(100,1)),index=pd.date_range('20170101',periods=100))

In [156]:
t

                    0
2017-01-01  18.996074
2017-01-02  47.692185
2017-01-03  42.987595
2017-01-04  18.906865
2017-01-05  16.130308
2017-01-06  28.786799
2017-01-07  20.807334
2017-01-08  18.873958
2017-01-09  47.544460
2017-01-10  41.985995
2017-01-11  31.147446
2017-01-12  49.526829
2017-01-13  14.676173
2017-01-14  35.626247
2017-01-15  46.250999
2017-01-16  42.069840
2017-01-17  28.174688
2017-01-18  37.608607
2017-01-19  26.111948
2017-01-20  48.401848
2017-01-21  47.030436
2017-01-22  20.033180
2017-01-23  40.941989
2017-01-24  37.902330
2017-01-25  25.272816
2017-01-26  10.341655
2017-01-27  45.077535
2017-01-28  49.539233
2017-01-29  13.777621
2017-01-30  26.734509
...               ...
2017-03-12  33.753927
2017-03-13  19.594488
2017-03-14  39.238548
2017-03-15  18.218987
2017-03-16  16.217041
2017-03-17  11.329065
2017-03-18  41.070041
2017-03-19  25.201092
2017-03-20  44.026463
2017-03-21  40.143768
2017-03-22  47.778207
2017-03-23  42.566927
2017-03-24  35.215009
2017-03-25  42.114032
2017-03-26  37.159417
2017-03-27  19.897090
2017-03-28  29.057519
2017-03-29  32.288964
2017-03-30  14.298525
2017-03-31  35.696840
2017-04-01  45.540812
2017-04-02  23.291983
2017-04-03  38.489415
2017-04-04  39.619884
2017-04-05  18.252095
2017-04-06  25.650593
2017-04-07  22.367556
2017-04-08  10.666764
2017-04-09  42.688139
2017-04-10  36.925324

[100 rows x 1 columns]

In [157]:
#resample
#降采样

t.resample('M').mean()

                    0
2017-01-31  32.807563
2017-02-28  30.682237
2017-03-31  30.537217
2017-04-30  30.349257

In [158]:
t.resample('10D').count()

             0
2017-01-01  10
2017-01-11  10
2017-01-21  10
2017-01-31  10
2017-02-10  10
2017-02-20  10
2017-03-02  10
2017-03-12  10
2017-03-22  10
2017-04-01  10

In [159]:
#升采样
frame = pd.DataFrame(np.random.randn(2, 4),
                    index=pd.date_range('1/1/2000', periods=2,freq='W-WED'),
                    columns=['上海', '北京', '深圳', '广州'])
frame

                  上海        北京        深圳        广州
2000-01-05  0.329862 -0.348794 -1.010141 -0.850524
2000-01-12 -1.245756 -0.453089  0.601207  0.046659

In [161]:
frame.resample('D').asfreq()  #转换成高频

                  上海        北京        深圳        广州
2000-01-05  0.329862 -0.348794 -1.010141 -0.850524
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -1.245756 -0.453089  0.601207  0.046659

In [162]:
frame.resample('D').ffill()

                  上海        北京        深圳        广州
2000-01-05  0.329862 -0.348794 -1.010141 -0.850524
2000-01-06  0.329862 -0.348794 -1.010141 -0.850524
2000-01-07  0.329862 -0.348794 -1.010141 -0.850524
2000-01-08  0.329862 -0.348794 -1.010141 -0.850524
2000-01-09  0.329862 -0.348794 -1.010141 -0.850524
2000-01-10  0.329862 -0.348794 -1.010141 -0.850524
2000-01-11  0.329862 -0.348794 -1.010141 -0.850524
2000-01-12 -1.245756 -0.453089  0.601207  0.046659

In [163]:
frame.resample('D').ffill(limit=2)

                  上海        北京        深圳        广州
2000-01-05  0.329862 -0.348794 -1.010141 -0.850524
2000-01-06  0.329862 -0.348794 -1.010141 -0.850524
2000-01-07  0.329862 -0.348794 -1.010141 -0.850524
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -1.245756 -0.453089  0.601207  0.046659

# 应用案例

In [165]:
df = pd.read_csv('911.csv')
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [166]:
df['timeStamp'] = pd.to_datetime(df['timeStamp'])

In [167]:
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [168]:
df.set_index('timeStamp',inplace=True)

In [169]:
df.head()

,lat,lng,desc,zip,title,twp,addr,e
timeStamp,,,,,,,,
2015-12-10 17:10:52,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,NEW HANOVER,REINDEER CT & DEAD END,1
2015-12-10 17:29:21,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2015-12-10 14:39:21,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,NORRISTOWN,HAWS AVE,1
2015-12-10 16:47:36,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,NORRISTOWN,AIRY ST & SWEDE ST,1
2015-12-10 16:56:52,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [172]:
df['2015-12-31']

,lat,lng,desc,zip,title,twp,addr,e
timeStamp,,,,,,,,
2015-12-31 00:00:21,40.230580,-75.212356,OXFORD LN & CHESTER CIR; MONTGOMERY; Station ...,19454.0,EMS: RESPIRATORY EMERGENCY,MONTGOMERY,OXFORD LN & CHESTER CIR,1
2015-12-31 00:06:49,40.259882,-75.293646,WYNDHAM WOODS WAY & OAK PARK RD; HATFIELD TOWN...,19440.0,Fire: GAS-ODOR/LEAK,HATFIELD TOWNSHIP,WYNDHAM WOODS WAY & OAK PARK RD,1
2015-12-31 00:22:29,40.176879,-75.187746,THORNBURY DR & CHAUCER DR; UPPER DUBLIN; Stat...,19002.0,EMS: SYNCOPAL EPISODE,UPPER DUBLIN,THORNBURY DR & CHAUCER DR,1
2015-12-31 00:29:19,40.233159,-75.258146,WILLIAMSBURG RD & GETTYSBURG DR; LANSDALE; 201...,19446.0,Fire: FIRE INVESTIGATION,LANSDALE,WILLIAMSBURG RD & GETTYSBURG DR,1
2015-12-31 00:27:51,40.088958,-75.408347,GODDARD BLVD & N GULPH RD; UPPER MERION; Stat...,19406.0,EMS: VEHICLE ACCIDENT,UPPER MERION,GODDARD BLVD & N GULPH RD,1
2015-12-31 00:27:19,40.088958,-75.408347,GODDARD BLVD & N GULPH RD; UPPER MERION; 2015-...,19406.0,Traffic: VEHICLE ACCIDENT -,UPPER MERION,GODDARD BLVD & N GULPH RD,1
2015-12-31 00:46:39,40.383619,-75.487344,JEFFERSON ST & 10TH ST; RED HILL; Station 369...,18076.0,EMS: CARDIAC EMERGENCY,RED HILL,JEFFERSON ST & 10TH ST,1
2015-12-31 00:54:15,40.082618,-75.083543,BLAKE AVE & ABINGTON AVE; ROCKLEDGE; 2015-12-3...,19046.0,Fire: GAS-ODOR/LEAK,ROCKLEDGE,BLAKE AVE & ABINGTON AVE,1
2015-12-31 00:52:44,40.327346,-75.623119,DOUGLASS ST & E PHILADELPHIA AVE; DOUGLASS; S...,19512.0,EMS: ABDOMINAL PAINS,DOUGLASS,DOUGLASS ST & E PHILADELPHIA AVE,1
2015-12-31 01:42:59,40.073014,-75.131626,OLD YORK RD & SPRING AVE; CHELTENHAM; Station...,19027.0,EMS: FALL VICTIM,CHELTENHAM,OLD YORK RD & SPRING AVE,1
2015-12-31 01:41:14,40.366046,-75.522586,KINGS RD & LAYFIELD RD; UPPER HANOVER; Statio...,18073.0,EMS: RESPIRATORY EMERGENCY,UPPER HANOVER,KINGS RD & LAYFIELD RD,1
2015-12-31 01:50:59,40.251174,-75.643975,EVANS ST & JEFFERSON AVE; POTTSTOWN; Station ...,19464.0,EMS: UNKNOWN MEDICAL EMERGENCY,POTTSTOWN,EVANS ST & JEFFERSON AVE,1
2015-12-31 01:58:23,39.999659,-75.285479,ARGYLE RD; LOWER MERION; 2015-12-31 @ 01:58:23...,NaN,Fire: BURN VICTIM,LOWER MERION,ARGYLE RD,1
2015-12-31 01:58:15,39.999659,-75.285479,ARGYLE RD; LOWER MERION; Station 313; 2015-12...,NaN,EMS: BURN VICTIM,LOWER MERION,ARGYLE RD,1
2015-12-31 02:12:23,40.219565,-75.315427,SUPPLEE RD & CREST RD; UPPER GWYNEDD; Station...,19446.0,EMS: SUBJECT IN PAIN,UPPER GWYNEDD,SUPPLEE RD & CREST RD,1
2015-12-31 02:25:35,40.229008,-75.387853,VINE ST & BUTLER AVE; HATFIELD BORO; Station ...,NaN,EMS: FALL VICTIM,HATFIELD BORO,VINE ST & BUTLER AVE,1
2015-12-31 02:28:31,40.198436,-75.384619,GREEN HILL RD & STUMP HALL RD; WORCESTER; 2015...,19426.0,Traffic: VEHICLE ACCIDENT -,WORCESTER,GREEN HILL RD & STUMP HALL RD,1
2015-12-31 02:40:27,40.198436,-75.384619,GREEN HILL RD & STUMP HALL RD; WORCESTER; Sta...,19426.0,EMS: VEHICLE ACCIDENT,WORCESTER,GREEN HILL RD & STUMP HALL RD,1
2015-12-31 02:40:18,40.198436,-75.384619,GREEN HILL RD & STUMP HALL RD; WORCESTER; 2015...,19426.0,Fire: VEHICLE ACCIDENT,WORCESTER,GREEN HILL RD & STUMP HALL RD,1
2015-12-31 03:08:33,40.100748,-75.215108,WISSAHICKON AVE & ROSE LN; SPRINGFIELD; Stati...,19031.0,EMS: FALL VICTIM,SPRINGFIELD,WISSAHICKON AVE & ROSE LN,1
2015-12-31 03:09:01,40.294241,-75.361690,MOYER RD & HALTEMAN RD; FRANCONIA; 2015-12-31 ...,18964.0,Fire: FIRE ALARM,FRANCONIA,MOYER RD & HALTEMAN RD,1
2015-12-31 03:40:01,40.153268,-75.189558,BERKLEY PL & DEAD END; UPPER DUBLIN; Station ...,NaN,EMS: FALL VICTIM,UPPER DUBLIN,BERKLEY PL & DEAD END,1
2015-12-31 03:46:31,40.251884,-75.652863,3RD ST & JOHNSON ST; POTTSTOWN; Station 329; ...,19464.0,EMS: ALTERED MENTAL STATUS,POTTSTOWN,3RD ST & JOHNSON ST,1
2015-12-31 04:01:52,40.102227,-75.391544,VALLEY FORGE RD & GENERAL STEUBEN RD; UPPER M...,19406.0,EMS: HEAD INJURY,UPPER MERION,VALLEY FORGE RD & GENERAL STEUBEN RD,1
2015-12-31 04:10:04,40.205476,-75.352971,SKIPPACK PIKE & MEADOWOOD DR; WORCESTER; Stat...,19446.0,EMS: GENERAL WEAKNESS,WORCESTER,SKIPPACK PIKE & MEADOWOOD DR,1
2015-12-31 04:09:25,40.011767,-75.294673,MONTGOMERY AVE & WOODSIDE RD; LOWER MERION; S...,19041.0,EMS: MEDICAL ALERT ALARM,LOWER MERION,MONTGOMERY AVE & WOODSIDE RD,1
2015-12-31 04:17:15,40.215749,-75.545489,N LEWIS RD & LINFIELD TRAPPE RD; LIMERICK; 201...,19468.0,Traffic: VEHICLE ACCIDENT -,LIMERICK,N LEWIS RD & LINFIELD TRAPPE RD,1
2015-12-31 04:27:09,40.240842,-75.292032,MT VERNON ST & S RICHARDSON AVE; LANSDALE; St...,19446.0,EMS: ALLERGIC REACTION,LANSDALE,MT VERNON ST & S RICHARDSON AVE,1
2015-12-31 04:46:14,40.045146,-75.309062,GREAT SPRINGS RD & OAK SPRINGS RD; LOWER MERI...,19010.0,EMS: CARDIAC EMERGENCY,LOWER MERION,GREAT SPRINGS RD & OAK SPRINGS RD,1
2015-12-31 04:56:41,40.168538,-75.498200,BLACK ROCK RD & S TRAPPE RD; UPPER PROVIDENCE...,19468.0,EMS: RESPIRATORY EMERGENCY,UPPER PROVIDENCE,BLACK ROCK RD & S TRAPPE RD,1
...,...,...,...,...,...,...,...,...
2015-12-31 21:59:02,40.053236,-75.122129,CHELTENHAM AVE & NEW SECOND ST; CHELTENHAM; 20...,19027.0,Traffic: VEHICLE ACCIDENT -,CHELTENHAM,CHELTENHAM AVE & NEW SECOND ST,1
2015-12-31 22:03:50,40.245323,-75.647644,HIGH ST & N CHARLOTTE ST; POTTSTOWN; Station ...,19464.0,EMS: OVERDOSE,POTTSTOWN,HIGH ST & N CHARLOTTE ST,1
2015-12-31 22:03:04,40.172526,-75.284653,DEKALB PIKE & BLUE BELL SPRINGS DR; WHITPAIN;...,19422.0,EMS: SYNCOPAL EPISODE,WHITPAIN,DEKALB PIKE & BLUE BELL SPRINGS DR,1
2015-12-31 22:14:35,40.025480,-75.326511,WOOD CIR & LANCASTER AVE; LOWER MERION; Stati...,19010.0,EMS: MEDICAL ALERT ALARM,LOWER MERION,WOOD CIR & LANCASTER AVE,1
2015-12-31 22:22:58,40.178442,-75.128506,EASTON RD & WGNAS MAIN GATE; HORSHAM; 2015-12-...,NaN,Traffic: DISABLED VEHICLE -,HORSHAM,EASTON RD & WGNAS MAIN GATE,1
2015-12-31 22:25:44,40.148152,-75.235450,BUTLER PIKE & W BUTLER PIKE; WHITEMARSH; 2015-...,19002.0,Traffic: VEHICLE ACCIDENT -,WHITEMARSH,BUTLER PIKE & W BUTLER PIKE,1
2015-12-31 22:35:28,40.131305,-75.118346,ROCKWELL RD & ROY AVE; ABINGTON; Station 381;...,19001.0,EMS: UNRESPONSIVE SUBJECT,ABINGTON,ROCKWELL RD & ROY AVE,1
2015-12-31 22:39:33,40.357002,-75.518927,BROOMSTICK RD & WARD RD; UPPER HANOVER; 2015-1...,18073.0,Fire: BUILDING FIRE,UPPER HANOVER,BROOMSTICK RD & WARD RD,1
2015-12-31 22:44:20,40.229416,-75.276840,CYPRESS ST & E HANCOCK ST; LANSDALE; Station ...,19446.0,EMS: ASSAULT VICTIM,LANSDALE,CYPRESS ST & E HANCOCK ST,1
2015-12-31 22:43:28,40.191561,-75.230362,BETHLEHEM PIKE & MOORE DR; LOWER GWYNEDD; Sta...,19002.0,EMS: RESPIRATORY EMERGENCY,LOWER GWYNEDD,BETHLEHEM PIKE & MOORE DR,1
2015-12-31 22:42:35,40.196878,-75.267579,SWEDESFORD RD & S SWEDESFORD RD; LOWER GWYNED...,NaN,EMS: CARDIAC EMERGENCY,LOWER GWYNEDD,SWEDESFORD RD & S SWEDESFORD RD,1
2015-12-31 22:50:54,40.226595,-75.278283,SPRUCE ST & WEBSTER AVE; LANSDALE; Station 34...,19446.0,EMS: ASSAULT VICTIM,LANSDALE,SPRUCE ST & WEBSTER AVE,1
2015-12-31 23:00:18,40.129448,-75.312010,NEW HOPE ST & SAW MILL CT; EAST NORRITON; Sta...,19401.0,EMS: UNRESPONSIVE SUBJECT,EAST NORRITON,NEW HOPE ST & SAW MILL CT,1
2015-12-31 22:57:09,40.154925,-75.220973,BUTLER AVE & YORK ST; AMBLER; Station 351; 20...,19002.0,EMS: UNCONSCIOUS SUBJECT,AMBLER,BUTLER AVE & YORK ST,1
2015-12-31 23:10:00,40.197147,-75.297906,PRIMROSE DR & MAHOGANY WAY; UPPER GWYNEDD; St...,19446.0,EMS: SYNCOPAL EPISODE,UPPER GWYNEDD,PRIMROSE DR & MAHOGANY WAY,1
2015-12-31 23:09:19,40.166612,-75.067830,OAKWOOD DR & JASON DR; UPPER MORELAND; Statio...,19006.0,EMS: OVERDOSE,UPPER MORELAND,OAKWOOD DR & JASON DR,1
2015-12-31 23:15:50,40.033578,-75.267095,SCHUYLKILL EXPY & CONSHOHOCKEN STATE UNDERPASS...,NaN,Traffic: DISABLED VEHICLE -,LOWER MERION,SCHUYLKILL EXPY & CONSHOHOCKEN STATE UNDERPASS,1
2015-12-31 23:13:20,40.099458,-75.179608,WILLOW GROVE AVE & SANDY HILL RD; CHELTENHAM; ...,19038.0,Traffic: VEHICLE ACCIDENT -,CHELTENHAM,WILLOW GROVE AVE & SANDY HILL RD,1
2015-12-31 23:19:22,40.008007,-75.298423,GREENFIELD AVE & ROOSEVELT TER; LOWER MERION;...,19003.0,EMS: UNRESPONSIVE SUBJECT,LOWER MERION,GREENFIELD AVE & ROOSEVELT TER,1
2015-12-31 23:18:28,40.069832,-75.316295,RAMP MATSONFORD RD TO I476 NB; WEST CONSHOHOC...,NaN,EMS: VEHICLE ACCIDENT,WEST CONSHOHOCKEN,RAMP MATSONFORD RD TO I476 NB,1
2015-12-31 23:10:22,40.069832,-75.316295,RAMP MATSONFORD RD TO I476 NB & RAMP MATSONFOR...,NaN,Traffic: VEHICLE ACCIDENT -,WEST CONSHOHOCKEN,RAMP MATSONFORD RD TO I476 NB & RAMP MATSONFOR...,1
2015-12-31 23:25:41,40.155060,-75.102251,DAVISVILLE RD & PENNYPACK RD; UPPER MORELAND;...,19040.0,EMS: CARDIAC EMERGENCY,UPPER MORELAND,DAVISVILLE RD & PENNYPACK RD,1
2015-12-31 23:24:06,40.148771,-75.085515,HUNTINGDON RD & MASONS MILL RD; UPPER MORELAN...,19006.0,EMS: FALL VICTIM,UPPER MORELAND,HUNTINGDON RD & MASONS MILL RD,1
2015-12-31 23:35:25,39.990653,-75.249082,CITY AVE & MERION RD; LOWER MERION; 2015-12-31...,19131.0,Traffic: VEHICLE ACCIDENT -,LOWER MERION,CITY AVE & MERION RD,1
2015-12-31 23:41:52,40.252593,-75.247293,BETHLEHEM PIKE; BUCKS COUNTY; Station 345; 20...,NaN,EMS: VEHICLE ACCIDENT,BUCKS COUNTY,BETHLEHEM PIKE,1
2015-12-31 23:32:27,40.291231,-75.271800,BETHLEHEM PIKE & SWARTLEY RD; BUCKS COUNTY; 20...,19440.0,Traffic: VEHICLE ACCIDENT -,BUCKS COUNTY,BETHLEHEM PIKE & SWARTLEY RD,1
2015-12-31 23:44:56,40.136020,-75.354606,BEECH DR & SPRUCE ST; WEST NORRITON; Station ...,19403.0,EMS: SEIZURES,WEST NORRITON,BEECH DR & SPRUCE ST,1
2015-12-31 23:54:02,40.294817,-75.537972,BIG RD & COLONIAL RD; UPPER FREDERICK; Statio...,18074.0,EMS: FALL VICTIM,UPPER FREDERICK,BIG RD & COLONIAL RD,1
2015-12-31 23:53:19,40.112336,-75.150554,ROBERTS AVE & JENKINTOWN RD; ABINGTON; Statio...,19038.0,EMS: CARDIAC EMERGENCY,ABINGTON,ROBERTS AVE & JENKINTOWN RD,1
2015-12-31 23:52:46,40.081127,-75.160484,LIMEKILN PIKE & EVERGREEN AVE; CHELTENHAM; 201...,19095.0,Traffic: DISABLED VEHICLE -,CHELTENHAM,LIMEKILN PIKE & EVERGREEN AVE,1

In [173]:
df.resample('M').count()

              lat    lng   desc    zip  title    twp   addr      e
timeStamp
2015-12-31   7916   7916   7916   6902   7916   7911   7916   7916
2016-01-31  13096  13096  13096  11512  13096  13094  13096  13096
2016-02-29  11396  11396  11396   9926  11396  11395  11396  11396
2016-03-31  11059  11059  11059   9754  11059  11052  11059  11059
2016-04-30  11287  11287  11287   9897  11287  11284  11287  11287
2016-05-31  11374  11374  11374   9938  11374  11371  11374  11374
2016-06-30  11732  11732  11732  10205  11732  11726  11732  11732
2016-07-31  12088  12088  12088  10626  12088  12086  12088  12088
2016-08-31  11904  11904  11904  10381  11904  11902  11904  11904
2016-09-30  11669  11669  11669  10174  11669  11666  11669  11669
2016-10-31  12502  12502  12502  10760  12502  12499  12502  12502
2016-11-30  12091  12091  12091  10559  12091  12086  12091  12091
2016-12-31  12162  12162  12162  10763  12162  12156  12162  12162
2017-01-31  11605  11605  11605  10365  11605  11598  11605  11605
2017-02-28  10267  10267  10267   9235  10267  10263  10267  10267
2017-03-31  11684  11684  11684  10406  11684  11680  11684  11684
2017-04-30  11056  11056  11056   9774  11056  11052  11056  11056
2017-05-31  11719  11719  11719  10316  11719  11711  11719  11719
2017-06-30  12333  12333  12333  10865  12333  12332  12333  12333
2017-07-31  11768  11768  11768  10314  11768  11764  11768  11768
2017-08-31  11753  11753  11753  10358  11753  11744  11753  11753
2017-09-30   7276   7276   7276   6361   7276   7272   7276   7276