In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(5,4), columns = ['a', 'b', 'c', 'd'], index=["11","22","33","44","55"])
df

           a         b         c         d
11 -0.287768  0.078189 -0.253204  1.052303
22 -0.555235  1.929249 -1.164564 -1.423219
33  0.671144 -1.393074 -3.706907 -0.187946
44 -2.012949 -0.926109  0.379245 -0.792788
55 -0.567284 -1.924283 -0.019845  0.747158

In [6]:
# 列索引
# 要和Series做一个区别，[]在DataFrame中是获取列索引，在Series中是获取行索引
# df.a
# df['a']
df[['a', 'b']]

           a         b
11 -0.287768  0.078189
22 -0.555235  1.929249
33  0.671144 -1.393074
44 -2.012949 -0.926109
55 -0.567284 -1.924283

In [12]:
# loc索引
# df.loc['11']
# df.loc[['11', '33']]
# df.loc["11": "33"]

# loc[row, col]
# df.loc["11": "33", "b":"c"]
# df.loc["11": "33", ['b', 'c']]

df.loc[['11', '22'], 'b']

11    0.078189
22    1.929249
Name: b, dtype: float64

In [17]:
# iloc索引
# df.iloc[0:3]

# df.iloc[0:3, [1,2]]

df.iloc[0:3, :]

           a         b         c         d
11 -0.287768  0.078189 -0.253204  1.052303
22 -0.555235  1.929249 -1.164564 -1.423219
33  0.671144 -1.393074 -3.706907 -0.187946