In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'fruit':['apple','banana','orange','apple','banana'],
                    'color':['red','yellow','yellow','cyan','cyan'],
                    'price':[8.5,6.8,5.6,7.8,6.4]})
df

    fruit   color  price
0   apple     red    8.5
1  banana  yellow    6.8
2  orange  yellow    5.6
3   apple    cyan    7.8
4  banana    cyan    6.4

In [4]:
df.groupby("fruit")['price'].mean()

fruit
apple     8.15
banana    6.60
orange    5.60
Name: price, dtype: float64

In [8]:
result = df.groupby(['fruit', 'color'])['price'].mean()
print(type(result))
print(type(result.index))
print()
print(result)

<class 'pandas.core.series.Series'>
<class 'pandas.core.indexes.multi.MultiIndex'>

fruit   color
apple   cyan      7.8
        red       8.5
banana  cyan      6.4
        yellow    6.8
orange  yellow    5.6
Name: price, dtype: float64

In [10]:
df.groupby(['fruit'])['price'].sum()

fruit
apple     16.3
banana    13.2
orange     5.6
Name: price, dtype: float64