In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.rand(4,4))
df

          0         1         2         3
0  0.939893  0.869416  0.718102  0.844589
1  0.645235  0.362168  0.267636  0.537374
2  0.149245  0.130784  0.067945  0.707729
3  0.666920  0.609880  0.455597  0.099795

In [6]:
# 1. 区间索引
# Python中的range函数类似
# range(start, stop, step)
df.index = pd.RangeIndex(start=1, stop=9, step=2)
df.index

RangeIndex(start=1, stop=9, step=2)

In [8]:
# 2. 数值类型索引
# df.index = pd.Float64Index([2,4,6,8])
df.index = pd.Int64Index([2,4,6,8])
df

          0         1         2         3
2  0.939893  0.869416  0.718102  0.844589
4  0.645235  0.362168  0.267636  0.537374
6  0.149245  0.130784  0.067945  0.707729
8  0.666920  0.609880  0.455597  0.099795

In [12]:
# 3. 分类索引
pd.CategoricalIndex(list("ABCC"), categories=list("ABCD"))

CategoricalIndex(['A', 'B', 'C', 'C'], categories=['A', 'B', 'C', 'D'], ordered=False, dtype='category')

In [18]:
# 4. 间隔索引

# 使用数值类型
# pd.interval_range(start=0, end=4, periods=2, closed="left")

# 使用日期类型
from datetime import datetime
pd.interval_range(start=datetime(year=2022, month=10, day=1), end=datetime(year=2022, month=10, day=7), freq='H')

IntervalIndex([(2022-10-01, 2022-10-01 01:00:00], (2022-10-01 01:00:00, 2022-10-01 02:00:00], (2022-10-01 02:00:00, 2022-10-01 03:00:00], (2022-10-01 03:00:00, 2022-10-01 04:00:00], (2022-10-01 04:00:00, 2022-10-01 05:00:00] ... (2022-10-06 19:00:00, 2022-10-06 20:00:00], (2022-10-06 20:00:00, 2022-10-06 21:00:00], (2022-10-06 21:00:00, 2022-10-06 22:00:00], (2022-10-06 22:00:00, 2022-10-06 23:00:00], (2022-10-06 23:00:00, 2022-10-07]],
              closed='right',
              dtype='interval[datetime64[ns]]')

In [20]:
# 5. 日期时间索引
pd.date_range("2022-10-01", periods=4, freq='Y')

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [24]:
# 6. 时间间隔索引
df.index = pd.TimedeltaIndex([12,24,36,48], unit="D")
df.index[0] = "11 days"

TypeError: Index does not support mutable operations

In [25]:
# 索引一旦被创建，里面的元素将不能被修改，否则会报错